@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}



* {

    margin: 0;
    box-sizing: border-box;
}


nav {
    color: white;
    background-color: #fde047;
    padding: 2rem;
    text-align: center;
    display: block;
}

#txt-area {
    width: 70%;
    height: 20vh;
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    font-size: large;
    border-radius: 0.5rem;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

#translate-btn {
    max-width: 500px;
    padding: 0.6rem 1.2rem;
    margin: 1rem auto;
    border-color: solid 2px rgb(88, 176, 224);
    color: solid 2px rgb(88, 176, 224);
    border-radius: 0.5rem;
    display: block;
    cursor: pointer;


}

p {
    text-align: center;
    font-weight: bold;

}

#output-div {
    border: solid 2px black;
    font-weight: 700;
    width: 70%;
    height: 20vh;
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    font-size: large;
    border-radius: 0.5rem;

}

.backgroundimg {
    background-image: url("minions.png");
    height: 400px;
    background-size: 400px;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    opacity: 0.7;

}

footer {
    color: white;
    background-color: #fde047;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;

}